{% extends 'base.html' %}

{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        {% if is_valid %}
            <h3>Dados enviados com sucesso</h3>
            {% else %}
            <h3>Informe seus dados</h3>
            {% endif %}
        <form class="pure-form pure-form-aligned" method="POST">
            {% csrf_token %}
            <fieldset>
                {{ form.non_field_errors }}
                {% for field in form %}
                <div class="pure-control-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
            {% endfor %}
            <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Cadastrar</button>
        </div>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}